# Adaboost classifier on Heart Disease dataset

**Classify whether person has heart disease using adaboost classifier**

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('heart.csv')

In [3]:
df.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 918 entries, 0 to 917
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Age             918 non-null    int64
 1   Sex             918 non-null    object
 2   ChestPainType   918 non-null    object
 3   RestingBP       918 non-null    int64
 4   Cholesterol     918 non-null    int64
 5   FastingBS       918 non-null    int64
 6   RestingECG      918 non-null    object
 7   MaxHR           918 non-null    int64
 8   ExerciseAngina  918 non-null    object
 9   Oldpeak         918 non-null    float64
 10  ST_Slope        918 non-null    object
 11  HeartDisease    918 non-null    int64
dtypes: float64(1), int64(6), object(5)
memory usage: 86.2+ KB

In [ ]:
# df['ChestPainType'].unique
#Distribution of age
# df['Age']
sns.distplot(df['Age'])

In [ ]:
#check heart failure according to age
sns.scatterplot(df['Age'],df['HeartDisease'])

In [ ]:
sns.barplot(df['HeartDisease'],df['Age'])

In [ ]:
# sns.distplot(df.Age)
df.isna().sum()

In [ ]:
sns.countplot(df.HeartDisease)
#data is balanced

In [ ]:
sns.countplot(df.Sex,hue=df.HeartDisease)
#males are more into heart disease

In [ ]:
df.columns

In [ ]:
df['ChestPainType'].unique()

In [ ]:
sns.countplot(df.ChestPainType, hue=df.HeartDisease)

In [ ]:
sns.countplot(df.RestingECG,hue=df.HeartDisease)

In [ ]:
df['RestingECG'].value_counts()

In [ ]:
df.head()
#categorical : Sex, ChestPainType,RrstingECG

In [8]:
#convert categorical to numerical
#label encoding or onehot encoding?
#OneHotEncoding == dummy variables
#extract categorical column
obj = df.select_dtypes(include='object')
#required output is not obtained

# convert categorical to numerical using one hot encoding

**column count should increase**

In [ ]:
df.head()

In [ ]:
df.shape

In [ ]:
from sklearn.preprocessing import OneHotEncoder

In [ ]:
one = OneHotEncoder()

In [21]:
obj.columns

Index(['Sex', 'ChestPainType', 'RestingECG', 'ExerciseAngina', 'ST_Slope'], dtype='object')

In [6]:
# one.fit_transform(df['Sex'])
two = pd.get_dummies(df.Sex,drop_first=True)
three = pd.get_dummies(df.ChestPainType,drop_first=True)
four = pd.get_dummies(df.,drop_first=True)

In [ ]:
df.head()

In [7]:
df.columns

Index(['Age', 'Sex', 'ChestPainType', 'RestingBP', 'Cholesterol', 'FastingBS',
       'RestingECG', 'MaxHR', 'ExerciseAngina', 'Oldpeak', 'ST_Slope',
       'HeartDisease'],
      dtype='object')

In [14]:
new = pd.get_dummies(obj,drop_first=True)
#one column is deleted

In [12]:
df.shape

(918, 12)

In [15]:
new.shape

(918, 9)

**1 = male, 0 = female**

**ATA = 1,NAP, TA, ASY is removed in oneHotencoding bcoz of drop_first = True**

**we can use label encoding 1,2,3,4 sequence**

**differentiate onehot and label encoding =**

**less unique values available in column**

**Resting ECG  Normal, ST, LVH = left vertical hypertrophy**

In [16]:
new.head()

,Sex_M,ChestPainType_ATA,ChestPainType_NAP,ChestPainType_TA,RestingECG_Normal,RestingECG_ST,ExerciseAngina_Y,ST_Slope_Flat,ST_Slope_Up
0,1,1,0,0,1,0,0,0,1
1,0,0,1,0,1,0,0,1,0
2,1,1,0,0,0,1,0,0,1
3,0,0,0,0,1,0,1,1,0
4,1,0,1,0,1,0,0,0,1

In [17]:
df.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

In [20]:
df['RestingECG'].value_counts()

Normal    552
LVH       188
ST        178
Name: RestingECG, dtype: int64

In [24]:
#from df drop columns

df.drop(obj.columns,axis=1,inplace=True)

In [27]:
final = pd.concat([df,new],axis= 1)

In [28]:
final.head()

,Age,RestingBP,Cholesterol,FastingBS,MaxHR,Oldpeak,HeartDisease,Sex_M,ChestPainType_ATA,ChestPainType_NAP,ChestPainType_TA,RestingECG_Normal,RestingECG_ST,ExerciseAngina_Y,ST_Slope_Flat,ST_Slope_Up
0,40,140,289,0,172,0.0,0,1,1,0,0,1,0,0,0,1
1,49,160,180,0,156,1.0,1,0,0,1,0,1,0,0,1,0
2,37,130,283,0,98,0.0,0,1,1,0,0,0,1,0,0,1
3,48,138,214,0,108,1.5,1,0,0,0,0,1,0,1,1,0
4,54,150,195,0,122,0.0,0,1,0,1,0,1,0,0,0,1

In [29]:
final.shape

(918, 16)

In [30]:
from sklearn.model_selection import train_test_split

In [31]:
x = df.drop('HeartDisease',axis=1)
y = df.HeartDisease

In [32]:
x

     Age  RestingBP  Cholesterol  FastingBS  MaxHR  Oldpeak
0     40        140          289          0    172      0.0
1     49        160          180          0    156      1.0
2     37        130          283          0     98      0.0
3     48        138          214          0    108      1.5
4     54        150          195          0    122      0.0
..   ...        ...          ...        ...    ...      ...
913   45        110          264          0    132      1.2
914   68        144          193          1    141      3.4
915   57        130          131          0    115      1.2
916   57        130          236          0    174      0.0
917   38        138          175          0    173      0.0

[918 rows x 6 columns]

In [33]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2)

In [34]:
from sklearn.ensemble import AdaBoostClassifier

In [35]:
ada = AdaBoostClassifier()

In [36]:
ada.fit(x_train,y_train)

#fit_transform to convert new values
#fitting model is diferent

AdaBoostClassifier()

In [37]:
pred = ada.predict(x_test)

In [38]:
from sklearn.metrics import classification_report

In [39]:
print(classification_report(pred,y_test))
#healthcare data , 
#go for recall, reduce false negative values

              precision    recall  f1-score   support

           0       0.76      0.78      0.77        87
           1       0.80      0.77      0.79        97

    accuracy                           0.78       184
   macro avg       0.78      0.78      0.78       184
weighted avg       0.78      0.78      0.78       184